<div class="container">
          <h1>About</h1>
          <p>Hey, I am Mit Donga Ruby on Rails Developer</p>
          <p>Thank you for visiting my site</p>

          <%= link_to "Back to Home", root_path %>
</div>
