<div class="container mt-3 bg-success bg-opacity-25 p-3">
          <h1>About</h1>
          <p>Hey, I am Mit Donga Ruby on Rails Developer</p>
          <p>Thank you for visiting my site</p>

          <%= link_to "Back to Home", root_path, class: "btn btn-primary mt-1 mb-3" %>
</div>
