<div class="container mt-3 bg-success bg-opacity-25 p-3">
<h1>New post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Back to posts", posts_path, class: "btn btn-primary mt-1 mb-3" %>
</div>
</div>
